@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 11px; }

body {
  font-family: "Noto Sans JP", sans-serif; }

#main-show {
  display: none; }

header {
  text-align: center;
  background-color: #7bd5e6; }
  header h1 {
    font-family: "Oswald", sans-serif;
    font-size: 4.5rem;
    padding: 1rem 0; }

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  main hr {
    margin: 1rem 0; }
  main input[type="submit"] {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem; }

#cal-ability {
  width: 100%; }

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .select-container h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    margin-right: auto; }
  .select-container #select-difficulty {
    font-size: 1.5rem; }

.song-container h3 {
  display: inline;
  font-family: "Oswald" sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  padding-right: 0.5rem; }

.song-container img {
  transform: translateX(25%);
  border-radius: 30px;
  max-width: 700px;
  width: 70%;
  padding: 1rem 0; }

.container,
.life-container {
  margin-bottom: 2rem; }
  .container h3,
  .life-container h3 {
    font-family: "Oswald" sans-serif;
    font-weight: 900;
    font-size: 2.5rem; }
  .container h4,
  .life-container h4 {
    font-family: "Oswald" sans-serif;
    font-size: 2rem; }

.life-container h3,
.life-container h4 {
  display: inline; }

.data-collect {
  width: 40%;
  display: flex;
  justify-content: space-between; }
  .data-collect input {
    width: 70%; }

@media (max-width: 450px) {
  header h1 {
    font-size: 3.5rem; }
  .select-container h2 {
    font-size: 2rem; }
  .life-container h3 {
    font-size: 2rem; }
  .song-container h3 {
    display: block;
    font-size: 2rem; } }
